body {
    font-family: Calibri, sans-serif;
  }
input[type='radio'] {
    accent-color: rgb(127, 133, 245);
}
input[type='checkbox'] {
    accent-color: rgb(127, 133, 245);
}
.title {
    display: flex;
    background: rgb(31, 31, 31);
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}
.project_container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI';
    background: rgb(41, 41, 41);
    border-style: solid;
    border-color: rgb(41, 41, 41);
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
  }
  .project_head {
    color: rgb(41, 41, 41);
    font-size: x-large;
    align-self: center;
    font-weight: bold;
  }
  .project {
    align-items: center;
    justify-content: center;
    background: rgb(166, 167, 220);
    border-style: solid;
    border-color: rgb(41, 41, 41);
    border-width: 20px;
    flex-basis: 300px;
    height: 300px;
    font-size: large;
  }
.info_container {
    display: flex;
    font-family: sans-serif;
    background: rgb(14, 33, 50);
    border-style: solid;
    border-color: rgb(10, 24, 38);
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
  }
  .info_head {
    background: rgb(14, 33, 50);
    color: rgb(127, 133, 245);
    font-size: large;
    font-weight: bold;
  }
  .info {
    background: rgb(14, 33, 50);
    color: white;
    font-size: medium;
  }
.tab {
    display: flex;
}
  button {
    width: 100%;
    font-family: 'Candara Light';
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 10px; 
    border: none;
    background: rgb(139, 140, 199); 
    font-size: larger;
    font-weight: bold;
    color: #ffffff;
}
